body {
padding: 0 0 0 10px;
    margin: 0 auto;
    max-width: 800px;
}

.footer-link {
    vertical-align: top;
}

.thumbnail img {
  width: 120px;
  padding: 10px;
}


.carousel-inner .item img,  .col-md-6 > img{
    padding: 50px;
}

.panel-body {
    overflow-wrap: break-word;
}

.carousel.slide, .item, .tab-pane {
    min-height: 689px;
}

.carousel-control.right, .carousel-control.left {
    color: gray;
    background-image: none;
}